dist/
chat2files.egg-info/
catalog/
test/
.venv
__pycache__
.ruff_cache
.mypy_cache
.pytest_cache
.env*
.coverage
build/
site
out
scratch*
.token
volumes
data
milvius.db*
.milvius.db*
